@import url("https://fonts.googleapis.com/css?family=Alegreya|Lato|Black+Han+Sans");

$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$color1: rgba(244, 208, 111, 1);
$color2: rgba(242, 120, 75, 1);
$color3: rgba(157, 217, 210, 1);
$color4: rgba(255, 248, 240, 1);
$color5: rgba(57, 47, 90, 1);

$family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu,
  Cantarell, Roboto, Helvetica, Arial, Noto Sans, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$family-secondary: "Black Han Sans", "Alegreya", sans-serif;
$grey-dark: $color5;
$grey-light: $color1;
$primary: $color2;
$link: $color2;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: $color4;
$control-border-width: 2px;

@import "../../node_modules/bulma/bulma.sass";

.title,
h1 {
  font-family: $family-secondary;
  font-size: 4.5rem;
  font-weight: normal;
  letter-spacing: -0.02em;

  &::selection {
    color: $color4;
    background: $grey-dark;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2.subtitle {
  line-height: 1.5;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.round-border {
  border-radius: 8px;
}

.copyright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-burger span {
  background-color: $grey-dark;
  height: 2px;
}

.columns:last-child {
  margin-bottom: 0px;
}

a.navbar-item,
.navbar-link {
  transition: box-shadow 360ms ease 0s;
  color: #323336;
  &:hover,
  &.is-active {
    box-shadow: rgb(207, 243, 255) 0px -3.2em 0px inset;
    color: $grey-dark;
  }
}

.resume-container {
  div,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  ol,
  ul,
  li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
  }

  margin: 0 auto;
  padding: 4rem 2rem 8rem 2rem;
  max-width: 700px;
  color: #333333;
  z-index: 1;

  h1 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  h2 {
    margin-top: 4rem;
    font-size: 12px;
    font-weight: 600;
    color: #c9cccf;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }

  p {
    margin-bottom: 0.25rem;
  }

  a {
    transition: box-shadow 160ms ease 0s;
    box-shadow: rgb(238, 251, 255) 0px -9px 0px inset;
    border-bottom: 2px solid rgb(207, 243, 255);
    text-decoration: none;
    color: #323336;
    &:hover {
      box-shadow: rgb(207, 243, 255) 0px -1.2em 0px inset;
    }
  }

  .section ul {
    margin-top: 0.5rem;
    margin-left: 2.5rem;
    list-style: disc;
  }

  .section li {
    margin-bottom: 0.5rem;
  }

  .grey {
    color: #96999b;
  }

  .headline {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.2px;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }

  .skills ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .skills li {
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    padding: 0.25rem 1rem;
    background-color: #f1f5f7;
    white-space: nowrap;
  }
}

.hoverable figure img {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.9;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.hoverable figure:hover img {
  -webkit-transform: rotate(15deg) scale(1.4);
  transform: rotate(15deg) scale(1.4);

  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}
